<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>MyGov - Admin Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link rel="shortcut icon" href="{% static 'lead_manager/assets/images/favicon.ico' %}">

    <!-- Basic Css files -->
    <link href="{% static 'lead_manager/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lead_manager/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'lead_manager/assets/css/style.css' %}" rel="stylesheet" type="text/css">
    {% block stylesheets %}
    {% endblock stylesheets %}

    {% block headscript %}
    {% endblock headscript %}
</head>


<body class="fixed-left">

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="">
                    <a href="#" class="logo text-center">MyGov</a>
<!--                    <a href="#" class="logo"><img src="{% static 'app/assets/images/logo.png' %}" height="20" alt="logo"></a>-->
                </div>
            </div>

            <div class="sidebar-inner slimscrollleft">
                <div id="sidebar-menu">
                    <ul>

                        <li class="menu-title">Menu</li>

                        <li>
                            <a href="{% url 'accounts:dashboard' %}" class="waves-effect"><i class="dripicons-device-desktop"></i><span> Dashboard </span></a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:clients' %}" class="waves-effect"><i class="dripicons-calendar"></i><span> Clients </span></a>
                        </li>
                        {% comment %} <li>
                            <a href="" class="waves-effect"><i class="dripicons-device-desktop"></i><span> Reports </span></a>
                        </li> {% endcomment %}
                    
                          <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-mail"></i> <span>Default Templates<span class="float-right"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
                                <ul class="list-unstyled">
                                     <li>
                                        <a href="{% url 'default_email:default_emails' %}"><i class="dripicons-calendar"></i><span> Email </span></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'default_sms:default_sms_data' %}"><i class="dripicons-device-desktop"></i><span> SMS </span></a>
                                    </li>
                                </ul>
                            </li>
                       
                        <li>
                            <a href="{% url 'accounts:users' %}" class="waves-effect"><i class="dripicons-device-desktop"></i><span> Users </span></a>
                        </li>
                        <br>
                        <li>
                            <center><a href="{% url 'accounts:admin_logout' %}" ><button class="btn btn-block btn-danger" style="width: 80%">Logout</button></center>
                        </li>

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div> <!-- end sidebarinner -->
        </div>
        <!-- Left Sidebar End -->


        <!-- Start right Content here -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <nav class="navbar-custom">
                        <!-- Search input -->
                        <div class="search-wrap" id="search-wrap">
                            <div class="search-bar">
                                <input class="search-input" type="search" placeholder="Search" />
                                <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                                    <i class="mdi mdi-close-circle"></i>
                                </a>
                            </div>
                        </div>

                        <ul class="list-inline float-right mb-0">
                            <!-- Search -->
                            {% comment %} <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link waves-effect toggle-search" href="#" data-target="#search-wrap">
                                    <i class="mdi mdi-magnify noti-icon"></i>
                                </a>
                            </li> {% endcomment %}
                            <!-- Fullscreen -->
                            <li class="list-inline-item dropdown notification-list hidden-xs-down">
                                <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                                    <i class="mdi mdi-fullscreen noti-icon"></i>
                                </a>
                            </li>
                            <!-- notification-->
                            {% comment %} <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="ion-ios7-bell noti-icon"></i>
                                    <span class="badge badge-danger noti-icon-badge">3</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5>Notification (3)</h5>
                                    </div>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                        <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                                        <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                                    </a>

                                    <!-- All-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        View All
                                    </a>

                                </div>
                            </li>
                            <!-- User-->
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="{% static 'lead_manager/assets/images/users/avatar-1.jpg' %}" alt="user" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <a class="dropdown-item" href="#"><i class="dripicons-user text-muted"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted"></i> My Wallet</a>
                                    <a class="dropdown-item" href="#"><span class="badge badge-success float-right m-t-5">5</span><i class="dripicons-gear text-muted"></i> Settings</a>
                                    <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted"></i> Lock screen</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><i class="dripicons-exit text-muted"></i> Logout</a>
                                </div>
                            </li> {% endcomment %}
                        </ul>

                        <!-- Page title -->
                        <ul class="list-inline menu-left mb-0">
                            <li class="list-inline-item">
                                <button type="button" class="button-menu-mobile open-left waves-effect">
                                    <i class="ion-navicon"></i>
                                </button>
                            </li>
                            <li class="hide-phone list-inline-item accounts-search">
                                {% comment %} <h3 class="page-title">Base</h3> {% endcomment %}
                            </li>
                        </ul>

                        <div class="clearfix"></div>
                    </nav>

                </div>
                <!-- Top Bar End -->

                <!-- ==================
                         PAGE CONTENT START
                         ================== -->

                <div class="page-content-wrapper">

                    <div class="container-fluid">

                        {% block content %}
                        {% endblock %}

                    </div><!-- container -->

                </div> <!-- Page content Wrapper -->

            </div> <!-- content -->

            <footer class="footer">
                © 2020 MyGov - Crafted with <i class="mdi mdi-heart text-danger"></i> by FinityTechServ.
            </footer>

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->


    <!-- jQuery  -->
    <script src="{% static 'lead_manager/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'lead_manager/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lead_manager/assets/js/modernizr.min.js' %}"></script>
    <script src="{% static 'lead_manager/assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'lead_manager/assets/js/waves.js' %}"></script>
    <script src="{% static 'lead_manager/assets/js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'lead_manager/assets/js/jquery.scrollTo.min.js' %}"></script>

    {% block script %}
    {% endblock %}

    <!-- App js -->
    <script src="{% static 'lead_manager/assets/js/app.js' %}"></script>

    {% block extrascript %}
    {% endblock extrascript %}

</body>

</html>